In [ ]:
import pandas as pd
import numpy as np

In [ ]:
d22 = "despesa_ceaps_2022_enc.csv"
d21 = "despesa_ceaps_2021_enc.csv"
d20 = "despesa_ceaps_2020_enc.csv"
d19 = "despesa_ceaps_2019_enc.csv"
d18 = "despesa_ceaps_2018_enc.csv"
d17 = "despesa_ceaps_2017_enc.csv"

In [ ]:
"""
with open('despesa_ceaps_2022.csv') as f:
    print(f)
"""

"\nwith open('despesa_ceaps_2022.csv') as f:\n    print(f)\n"

O arquivo estava com erro de codificação,não estava abrindo.
Para abrir o documento foi necessário abrilo manualmente em um bloco de notas e salvá-lo novamente em formatação utf-8. Após isso passar os parametros de abertura do read_csv, como a baixo.

# Limpeza

In [ ]:
def drop_linhas_ano_errado(df,ano_certo):
  count=0
  for i,row in enumerate(df['DATA']):
    split_row = str(row).split("/")
    if split_row[2] != str(ano_certo):
      #print(i, " = ", split_row)
      df.drop(index=i, axis ="rows", inplace= True)
      count += 1
  return(f"Foram deletadas {count} linhas ")

## df 22 (até o mes 4)

In [ ]:
df22 = pd.read_csv('despesa_ceaps_2022_enc.csv',sep=";",header=1, skiprows=0)

In [ ]:
df22.head(2)

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
0,2022,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,001/22,03/01/2022,Despesa com pagamento de aluguel de imóvel par...,6000,2173614
1,2022,1,ACIR GURGACZ,Divulgação da atividade parlamentar,26.320.603/0001-64,INFORMANAHORA,000000000000310/A,04/01/2022,Despesa com divulgação da atividade parlamenta...,1500,2173615

In [ ]:
df22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3582 entries, 0 to 3581
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                3582 non-null   int64
 1   MES                3582 non-null   int64
 2   SENADOR            3582 non-null   object
 3   TIPO_DESPESA       3582 non-null   object
 4   CNPJ_CPF           3582 non-null   object
 5   FORNECEDOR         3582 non-null   object
 6   DOCUMENTO          3418 non-null   object
 7   DATA               3582 non-null   object
 8   DETALHAMENTO       1818 non-null   object
 9   VALOR_REEMBOLSADO  3582 non-null   object
 10  COD_DOCUMENTO      3582 non-null   int64
dtypes: int64(3), object(8)
memory usage: 308.0+ KB

Passar a data para datetime

In [ ]:
drop_linhas_ano_errado(df22,2022)

'Foram deletadas 86 linhas '

In [ ]:
df22['DATA'] = pd.to_datetime(df22['DATA'],format = '%d/%m/%Y').dt.strftime('%d/%m/%Y')

In [ ]:
df22[['DATA']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3496 entries, 0 to 3581
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATA    3496 non-null   object
dtypes: object(1)
memory usage: 54.6+ KB

passar o valore_reembolsado para float

In [ ]:
df22['VALOR_REEMBOLSADO']=df22['VALOR_REEMBOLSADO'].str.replace(',','.')
df22['VALOR_REEMBOLSADO']=df22['VALOR_REEMBOLSADO'].astype(float)

In [ ]:
df22[['VALOR_REEMBOLSADO']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3496 entries, 0 to 3581
Data columns (total 1 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   VALOR_REEMBOLSADO  3496 non-null   float64
dtypes: float64(1)
memory usage: 54.6 KB

In [ ]:
df22.describe()

          ANO          MES  VALOR_REEMBOLSADO  COD_DOCUMENTO
count  3496.0  3496.000000        3496.000000   3.496000e+03
mean   2022.0     2.094966        1688.723801   2.175491e+06
std       0.0     0.828752        3220.141124   1.331196e+03
min    2022.0     1.000000           0.010000   2.172907e+06
25%    2022.0     1.000000         222.892500   2.174416e+06
50%    2022.0     2.000000         551.135000   2.175520e+06
75%    2022.0     3.000000        2000.000000   2.176580e+06
max    2022.0     4.000000       77012.000000   2.177955e+06

Cehcando valroes duplicados

In [ ]:
df22.duplicated().sum()

0

Checando valores nulos

In [ ]:
df22.isnull().sum()

ANO                     0
MES                     0
SENADOR                 0
TIPO_DESPESA            0
CNPJ_CPF                0
FORNECEDOR              0
DOCUMENTO             159
DATA                    0
DETALHAMENTO         1698
VALOR_REEMBOLSADO       0
COD_DOCUMENTO           0
dtype: int64

Como só temos nulo o documento e o detalhamento, vamos trocar esses valores por " Sem Informação "

In [ ]:
df22 = df22.fillna("Sem informacao")

In [ ]:
df22.isnull().sum()

ANO                  0
MES                  0
SENADOR              0
TIPO_DESPESA         0
CNPJ_CPF             0
FORNECEDOR           0
DOCUMENTO            0
DATA                 0
DETALHAMENTO         0
VALOR_REEMBOLSADO    0
COD_DOCUMENTO        0
dtype: int64

## DF21

In [ ]:
df21 = pd.read_csv('despesa_ceaps_2021_enc.csv',sep=";",header=1, skiprows=0)
df21.head(2)

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
0,2021,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,023.489.627,21/01/2021,Pagamento de energia elétrica para uso do escr...,"75,29",2158003
1,2021,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",062.135.728-64,FERNANDO WALDEIR PACINI e ANA LUCIA DA SILVA S...,01/2021,05/01/2021,Despesa com pagamento de aluguel de imóvel par...,1000,2157367

In [ ]:
df21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16808 entries, 0 to 16807
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                16808 non-null  int64
 1   MES                16808 non-null  int64
 2   SENADOR            16808 non-null  object
 3   TIPO_DESPESA       16808 non-null  object
 4   CNPJ_CPF           16808 non-null  object
 5   FORNECEDOR         16808 non-null  object
 6   DOCUMENTO          16133 non-null  object
 7   DATA               16808 non-null  object
 8   DETALHAMENTO       9193 non-null   object
 9   VALOR_REEMBOLSADO  16808 non-null  object
 10  COD_DOCUMENTO      16808 non-null  int64
dtypes: int64(3), object(8)
memory usage: 1.4+ MB

Passar data para datetime e alterar o valor reembolsado paara float

In [ ]:
#df21['DATA'] = pd.to_datetime(df21['DATA'],infer_datetime_format= True)
#tem um erro de digitação parece q erap raser 2021 e ficou 202.

In [ ]:
for i,row in enumerate(df21['DATA']):
  if '29/10/0' in row:
    print(i," = ",row)

2146  =  29/10/0202

Agora que sabemos que o erro esta na linha 2146, fica facil

In [ ]:
df21.loc[2146,["DATA"]]

DATA    29/10/0202
Name: 2146, dtype: object

In [ ]:
df21.loc[2146,["DATA"]] = 29/10/2021

In [ ]:
for i,r in enumerate(df21["DATA"]):
  try:
    r.split("/")[2]
  except:
    print(i,r)

2146 0.0014349332013854528

In [ ]:
df21[df21["DATA"] == 0.0014349332013854528 ]

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
2146,2021,11,CARLOS VIANA,"Passagens aéreas, aquáticas e terrestres nacio...",16.978.175/0001-08,ADRIA VIAGENS E TURISMO LTDA,YK1QHD,0.001435,"Companhia Aérea: AZUL, Localizador: YK1QHD. Pa...","339,9",2169237

In [ ]:
df21.drop(2146, inplace = True)

In [ ]:
df21['DATA']=df21['DATA'].str.replace('-','/') 
df21['DATA']=df21['DATA'].str.replace("-",'/')

In [ ]:
df21['DATA'].sort_values()

177      01/01/2021
3041     01/01/2021
8977     01/01/2021
3512     01/01/2021
3489     01/01/2021
            ...
11166    31/12/2021
12667    31/12/2021
14235    31/12/2021
5867     31/12/2021
11170    31/12/2021
Name: DATA, Length: 16807, dtype: object

In [ ]:
df21[(df21["SENADOR"] == "MARCOS DO VAL")& (df21["DATA"] == "22/01/2010")]

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
10715,2021,1,MARCOS DO VAL,"Passagens aéreas, aquáticas e terrestres nacio...",16.978.175/0001-08,ADRIA VIAGENS LTDA,SLJGZR,22/01/2010,"Companhia Aérea: LATAM, Localizador: SLJGZR. P...","530,69",2155020

In [ ]:
df21.loc[10715,:]

ANO                                                               2021
MES                                                                  1
SENADOR                                                  MARCOS DO VAL
TIPO_DESPESA         Passagens aéreas, aquáticas e terrestres nacio...
CNPJ_CPF                                            16.978.175/0001-08
FORNECEDOR                                          ADRIA VIAGENS LTDA
DOCUMENTO                                                       SLJGZR
DATA                                                        22/01/2010
DETALHAMENTO         Companhia Aérea: LATAM, Localizador: SLJGZR. P...
VALOR_REEMBOLSADO                                               530,69
COD_DOCUMENTO                                                  2155020
Name: 10715, dtype: object

In [ ]:
df21.drop(10715, inplace = True)

In [ ]:
drop_linhas_ano_errado(df21,2021)

'Foram deletadas 246 linhas '

In [ ]:
for i in df21["DATA"]:
  if '-' in i:
    print(i)

In [ ]:
import datetime as dt
dates = df21['DATA'].copy()
dates= pd.to_datetime(dates,format = '%d/%m/%Y').dt.strftime('%d/%m/%Y')
dates

0        21/01/2021
1        05/01/2021
2        06/01/2021
3        25/01/2021
4        07/01/2021
            ...
16803    01/12/2021
16804    15/12/2021
16805    17/12/2021
16806    27/12/2021
16807    29/12/2021
Name: DATA, Length: 16560, dtype: object

In [ ]:
df21["DATA"] = dates

In [ ]:
df21['DATA'].sort_values()

3512     01/01/2021
14067    01/01/2021
177      01/01/2021
3799     01/01/2021
16423    01/01/2021
            ...
11071    31/12/2021
12667    31/12/2021
15851    31/12/2021
16796    31/12/2021
11730    31/12/2021
Name: DATA, Length: 16560, dtype: object

In [ ]:
df21['VALOR_REEMBOLSADO']=df21['VALOR_REEMBOLSADO'].str.replace(',','.')
df21['VALOR_REEMBOLSADO']=df21['VALOR_REEMBOLSADO'].astype(float)

checar duplicadas e nulos

In [ ]:
df21.duplicated().sum()

0

In [ ]:
df21.isnull().sum()

ANO                     0
MES                     0
SENADOR                 0
TIPO_DESPESA            0
CNPJ_CPF                0
FORNECEDOR              0
DOCUMENTO             667
DATA                    0
DETALHAMENTO         7494
VALOR_REEMBOLSADO       0
COD_DOCUMENTO           0
dtype: int64

Como só temos nulo o documento e o detalhamento, vamos trocar esses valores por " Sem Informação "

In [ ]:
df21.fillna("Sem informacao",inplace = True)

## df 2020

In [ ]:
df20 = pd.read_csv(d20,sep=";",header=1, skiprows=0)
df20.head(2)

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
0,2020,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,14764742,06/01/2020,Despesa com energia elétrica para uso do escri...,"122,62",2141820
1,2020,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,14764741,06/01/2020,Despesa com energia elétrica para uso do escri...,"137,75",2141818

In [ ]:
df20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14090 entries, 0 to 14089
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                14090 non-null  int64
 1   MES                14090 non-null  int64
 2   SENADOR            14090 non-null  object
 3   TIPO_DESPESA       14090 non-null  object
 4   CNPJ_CPF           14090 non-null  object
 5   FORNECEDOR         14090 non-null  object
 6   DOCUMENTO          13470 non-null  object
 7   DATA               14090 non-null  object
 8   DETALHAMENTO       7228 non-null   object
 9   VALOR_REEMBOLSADO  14090 non-null  object
 10  COD_DOCUMENTO      14090 non-null  int64
dtypes: int64(3), object(8)
memory usage: 1.2+ MB

In [ ]:
# alterar valor reembolsado para float
df20['VALOR_REEMBOLSADO']=df20['VALOR_REEMBOLSADO'].str.replace(',','.')
df20['VALOR_REEMBOLSADO']=df20['VALOR_REEMBOLSADO'].astype(float)

In [ ]:
drop_linhas_ano_errado(df20,2020)

'Foram deletadas 293 linhas '

In [ ]:
#alterar data para datetime
df20["DATA"] = pd.to_datetime(df20["DATA"],format = '%d/%m/%Y').dt.strftime('%d/%m/%Y')

In [ ]:
df20["DATA"].sort_values()

5976     01/01/2020
2340     01/01/2020
5765     01/01/2020
6625     01/01/2020
2844     01/01/2020
            ...
3081     31/12/2020
9219     31/12/2020
7749     31/12/2020
7489     31/12/2020
10864    31/12/2020
Name: DATA, Length: 13797, dtype: object

In [ ]:
df20.duplicated().sum()

0

In [ ]:
df20.isnull().sum()

ANO                     0
MES                     0
SENADOR                 0
TIPO_DESPESA            0
CNPJ_CPF                0
FORNECEDOR              0
DOCUMENTO             617
DATA                    0
DETALHAMENTO         6726
VALOR_REEMBOLSADO       0
COD_DOCUMENTO           0
dtype: int64

In [ ]:
df20.fillna("Sem Informacao",inplace = True)

In [ ]:
df20.DATA.dtype

dtype('O')

## df2019

In [ ]:
df19 = pd.read_csv(d19,sep=";",header=1, skiprows=0)
df19.head(2)

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
0,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,006582758,04/01/2019,Despesa com pagamento de energia elétrica do e...,"66,02",2116543
1,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,006582755,04/01/2019,Despesa com pagamento de energia elétrica do e...,"139,98",2116546

In [ ]:
df19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21634 entries, 0 to 21633
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                21634 non-null  int64
 1   MES                21634 non-null  int64
 2   SENADOR            21634 non-null  object
 3   TIPO_DESPESA       21634 non-null  object
 4   CNPJ_CPF           21634 non-null  object
 5   FORNECEDOR         21634 non-null  object
 6   DOCUMENTO          20900 non-null  object
 7   DATA               21634 non-null  object
 8   DETALHAMENTO       13092 non-null  object
 9   VALOR_REEMBOLSADO  21634 non-null  object
 10  COD_DOCUMENTO      21634 non-null  int64
dtypes: int64(3), object(8)
memory usage: 1.8+ MB

In [ ]:
# alterar valor reembolsado para float
df19['VALOR_REEMBOLSADO']=df19['VALOR_REEMBOLSADO'].str.replace(',','.')
df19['VALOR_REEMBOLSADO']=df19['VALOR_REEMBOLSADO'].astype(float)

In [ ]:
#alterar data para datetime
#df19["DATA"] = pd.to_datetime(df19['DATA'],infer_datetime_format= True)

In [ ]:
for i,row in enumerate(df19['DATA']):
  if '31/01/0219' in row:
    print(i," = ",row)

10986  =  31/01/0219

In [ ]:
df19.loc[10986,["DATA"]] = "31/01/2019"

In [ ]:
drop_linhas_ano_errado(df19,2019)

'Foram deletadas 196 linhas '

In [ ]:
df19["DATA"] = pd.to_datetime(df19['DATA'],format = '%d/%m/%Y').dt.strftime('%d/%m/%Y')

In [ ]:
df19.duplicated().sum()

0

In [ ]:
df19.isnull().sum()

ANO                     0
MES                     0
SENADOR                 0
TIPO_DESPESA            0
CNPJ_CPF                0
FORNECEDOR              0
DOCUMENTO             719
DATA                    0
DETALHAMENTO         8471
VALOR_REEMBOLSADO       0
COD_DOCUMENTO           0
dtype: int64

In [ ]:
df20.fillna("Sem Informacao",inplace = True)

In [ ]:
df19.dtypes

ANO                    int64
MES                    int64
SENADOR               object
TIPO_DESPESA          object
CNPJ_CPF              object
FORNECEDOR            object
DOCUMENTO             object
DATA                  object
DETALHAMENTO          object
VALOR_REEMBOLSADO    float64
COD_DOCUMENTO          int64
dtype: object

## df2018

In [ ]:
df18 = pd.read_csv(d18,sep=";",header=1, skiprows=0)
df18.head(2)

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
0,2018,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,NaN,02/01/2018,Despesa com pagamento de aluguel de imóvel par...,6000,2088462
1,2018,1,ACIR GURGACZ,"Passagens aéreas, aquáticas e terrestres nacio...",63.764.211/0001-10,TRANSCONTINENTAL AGÊNCIA DE VIAGENS LTDA,M2CJMM,02/01/2018,"Companhia Aérea: AVIANCA, Localizador: M2CJMM....","274,99",2088476

In [ ]:
df18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24492 entries, 0 to 24491
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                24492 non-null  int64
 1   MES                24492 non-null  int64
 2   SENADOR            24492 non-null  object
 3   TIPO_DESPESA       24492 non-null  object
 4   CNPJ_CPF           24492 non-null  object
 5   FORNECEDOR         24492 non-null  object
 6   DOCUMENTO          23476 non-null  object
 7   DATA               24492 non-null  object
 8   DETALHAMENTO       18882 non-null  object
 9   VALOR_REEMBOLSADO  24492 non-null  object
 10  COD_DOCUMENTO      24492 non-null  int64
dtypes: int64(3), object(8)
memory usage: 2.1+ MB

In [ ]:
# alterar valor reembolsado para float
df18['VALOR_REEMBOLSADO']=df18['VALOR_REEMBOLSADO'].str.replace(',','.')
df18['VALOR_REEMBOLSADO']=df18['VALOR_REEMBOLSADO'].astype(float)

In [ ]:
df18.ANO.unique()

array([2018])

In [ ]:
c = 0
for i,row in enumerate(df18['DATA']):
  split_row = row.split("/")
  if split_row[2] != "2018":
    print(i, " = ", split_row)
    c+=1
print(c)

113  =  ['04', '02', '2019']
116  =  ['22', '12', '2017']
120  =  ['30', '08', '2017']
121  =  ['29', '08', '2017']
124  =  ['13', '07', '2017']
132  =  ['30', '08', '2017']
133  =  ['29', '08', '2017']
136  =  ['13', '07', '2017']
163  =  ['02', '04', '2010']
293  =  ['08', '01', '2019']
301  =  ['03', '01', '2017']
302  =  ['10', '01', '2017']
329  =  ['25', '12', '2017']
712  =  ['18', '03', '2017']
715  =  ['19', '03', '2017']
734  =  ['18', '03', '2017']
738  =  ['19', '03', '2017']
1208  =  ['13', '12', '2017']
1219  =  ['29', '11', '2017']
1220  =  ['29', '11', '2017']
1241  =  ['01', '12', '2017']
1242  =  ['01', '12', '2017']
1243  =  ['01', '12', '2017']
1244  =  ['01', '12', '2017']
1376  =  ['22', '12', '2017']
1377  =  ['11', '12', '2017']
1390  =  ['04', '12', '2017']
1391  =  ['05', '12', '2017']
1392  =  ['05', '12', '2017']
1393  =  ['05', '12', '2017']
1394  =  ['05', '12', '2017']
1395  =  ['05', '12', '2017']
1396  =  ['06', '12', '2017']
1397  =  ['06', '12', '2017']
1398  =  ['06', '12', '2017']
1399  =  ['06', '12', '2017']
1400  =  ['06', '12', '2017']
1417  =  ['05', '12', '2017']
1679  =  ['27', '05', '2014']
1759  =  ['08', '03', '2019']
1767  =  ['21', '12', '2017']
1768  =  ['21', '12', '2017']
1771  =  ['22', '12', '2017']
1822  =  ['20', '12', '2017']
1913  =  ['26', '04', '2017']
2283  =  ['01', '01', '2019']
2310  =  ['26', '12', '2017']
2311  =  ['15', '12', '2017']
2312  =  ['15', '12', '2017']
2674  =  ['22', '12', '2017']
2964  =  ['10', '01', '2019']
2965  =  ['11', '01', '2019']
2992  =  ['10', '01', '2019']
3002  =  ['10', '01', '2019']
3003  =  ['11', '01', '2019']
3004  =  ['10', '01', '2019']
3005  =  ['10', '01', '2019']
3006  =  ['10', '01', '2019']
3007  =  ['10', '01', '2019']
3008  =  ['09', '01', '2019']
3009  =  ['10', '01', '2019']
3011  =  ['10', '01', '2019']
3012  =  ['10', '01', '2019']
3013  =  ['09', '01', '2019']
3041  =  ['09', '08', '2017']
3042  =  ['20', '12', '2017']
3050  =  ['12', '12', '2017']
3051  =  ['12', '12', '2017']
3394  =  ['09', '01', '2019']
3760  =  ['02', '01', '2019']
3764  =  ['02', '01', '2019']
4015  =  ['05', '01', '2019']
4016  =  ['03', '01', '2019']
4019  =  ['07', '01', '2019']
4183  =  ['07', '01', '2019']
4260  =  ['28', '12', '2017']
4622  =  ['04', '01', '2017']
4625  =  ['03', '01', '2017']
5408  =  ['29', '06', '2017']
5650  =  ['29', '11', '2017']
5667  =  ['22', '12', '2017']
5669  =  ['06', '02', '2017']
5670  =  ['13', '06', '2017']
5696  =  ['13', '06', '2017']
5733  =  ['13', '06', '2017']
5894  =  ['07', '01', '2019']
5895  =  ['15', '01', '2019']
5909  =  ['26', '12', '2017']
6316  =  ['21', '12', '2017']
6317  =  ['21', '12', '2017']
6460  =  ['23', '03', '2017']
6676  =  ['31', '08', '2019']
6758  =  ['30', '08', '2019']
6848  =  ['30', '01', '2019']
6863  =  ['19', '12', '1957']
6911  =  ['22', '08', '2017']
6934  =  ['30', '05', '2017']
6950  =  ['05', '04', '2017']
7010  =  ['18', '05', '2017']
7031  =  ['05', '04', '2002']
7144  =  ['01', '01', '2019']
7146  =  ['22', '01', '2019']
7147  =  ['13', '03', '2019']
7167  =  ['06', '12', '2017']
7177  =  ['07', '12', '2017']
7509  =  ['14', '11', '2017']
7510  =  ['04', '12', '2017']
7511  =  ['15', '12', '2017']
7512  =  ['15', '12', '2017']
7553  =  ['12', '12', '2017']
8317  =  ['10', '01', '2019']
8318  =  ['20', '01', '2019']
8331  =  ['26', '01', '2019']
8452  =  ['14', '12', '2017']
9256  =  ['19', '12', '2017']
9257  =  ['19', '12', '2017']
9258  =  ['19', '12', '2017']
9259  =  ['19', '12', '2017']
9260  =  ['07', '02', '2017']
9261  =  ['19', '12', '2017']
9262  =  ['19', '12', '2017']
9263  =  ['19', '12', '2017']
9264  =  ['19', '12', '2017']
9282  =  ['19', '12', '2017']
9283  =  ['20', '12', '2017']
9284  =  ['20', '12', '2017']
9285  =  ['20', '12', '2017']
9286  =  ['20', '12', '2017']
9287  =  ['27', '12', '2017']
9289  =  ['20', '12', '2017']
9290  =  ['20', '12', '2017']
9368  =  ['23', '01', '2019']
9379  =  ['03', '01', '2019']
9380  =  ['03', '01', '2019']
9382  =  ['03', '01', '2019']
9383  =  ['22', '01', '2019']
9419  =  ['19', '11', '2017']
9420  =  ['15', '12', '2017']
9421  =  ['15', '12', '2017']
9450  =  ['15', '12', '2017']
10072  =  ['30', '01', '2017']
10087  =  ['25', '01', '2017']
10091  =  ['19', '01', '2017']
10118  =  ['05', '02', '2017']
10139  =  ['01', '03', '2017']
10413  =  ['28', '01', '2019']
10416  =  ['16', '01', '2019']
10417  =  ['17', '01', '2019']
10418  =  ['28', '01', '2019']
10421  =  ['15', '01', '2019']
10431  =  ['15', '11', '2017']
10470  =  ['03', '05', '2001']
10584  =  ['30', '01', '2019']
10907  =  ['26', '01', '2017']
10925  =  ['16', '01', '2017']
11482  =  ['07', '12', '2017']
11500  =  ['13', '04', '2017']
11554  =  ['07', '12', '2017']
11970  =  ['16', '11', '2017']
11971  =  ['16', '11', '2017']
11972  =  ['16', '11', '2017']
12632  =  ['05', '01', '2019']
12637  =  ['01', '01', '2019']
12676  =  ['06', '01', '2019']
12778  =  ['04', '12', '2017']
12779  =  ['04', '12', '2017']
12780  =  ['04', '12', '2017']
12781  =  ['18', '12', '2017']
12802  =  ['18', '12', '2017']
12803  =  ['20', '12', '2017']
12973  =  ['05', '01', '2019']
12974  =  ['05', '01', '2019']
12975  =  ['01', '01', '2019']
12976  =  ['01', '01', '2019']
12977  =  ['01', '01', '2019']
12982  =  ['03', '01', '2019']
12983  =  ['07', '01', '2019']
12984  =  ['03', '01', '2019']
12994  =  ['14', '12', '2017']
12995  =  ['28', '12', '2017']
13917  =  ['04', '02', '2019']
13941  =  ['09', '05', '0208']
14068  =  ['30', '01', '2019']
14086  =  ['31', '01', '2019']
14110  =  ['30', '01', '2019']
14111  =  ['04', '02', '2019']
14115  =  ['31', '01', '2019']
14138  =  ['26', '12', '2017']
14283  =  ['03', '08', '2017']
14936  =  ['05', '01', '2019']
14952  =  ['05', '01', '2019']
15154  =  ['13', '09', '2017']
15260  =  ['07', '08', '2017']
15261  =  ['27', '09', '2017']
15306  =  ['07', '08', '2017']
15307  =  ['27', '09', '2017']
15372  =  ['07', '08', '2017']
15375  =  ['27', '09', '2017']
15444  =  ['07', '08', '2017']
15447  =  ['27', '09', '2017']
15546  =  ['07', '08', '2017']
15548  =  ['27', '09', '2017']
15657  =  ['07', '08', '2017']
15659  =  ['27', '09', '2017']
15778  =  ['27', '09', '2017']
15874  =  ['27', '09', '2017']
16028  =  ['23', '01', '2019']
16029  =  ['23', '01', '2019']
16030  =  ['23', '01', '2019']
16043  =  ['17', '01', '2019']
16044  =  ['21', '01', '2019']
16121  =  ['21', '12', '2017']
16559  =  ['16', '11', '1201']
16604  =  ['25', '01', '2019']
16612  =  ['03', '01', '2019']
16629  =  ['30', '12', '2017']
16635  =  ['15', '09', '2017']
17440  =  ['24', '01', '2019']
17468  =  ['24', '01', '2019']
17469  =  ['21', '01', '2019']
17471  =  ['04', '01', '2019']
17861  =  ['17', '01', '2019']
17865  =  ['15', '01', '2019']
18395  =  ['11', '02', '2019']
18397  =  ['09', '01', '2019']
18721  =  ['04', '01', '2019']
18722  =  ['04', '01', '2019']
19142  =  ['21', '12', '2017']
19143  =  ['21', '12', '2017']
19144  =  ['26', '12', '2017']
19576  =  ['28', '11', '2017']
19784  =  ['15', '01', '2019']
19785  =  ['09', '01', '2019']
19788  =  ['14', '01', '2019']
19792  =  ['05', '02', '2019']
19866  =  ['31', '12', '2017']
20497  =  ['02', '01', '2019']
20515  =  ['26', '12', '2017']
20516  =  ['26', '12', '2017']
20647  =  ['06', '03', '2017']
20800  =  ['18', '07', '2017']
20954  =  ['05', '01', '2019']
21002  =  ['19', '12', '2017']
21004  =  ['26', '11', '2017']
21013  =  ['26', '12', '2017']
21022  =  ['26', '12', '2017']
21225  =  ['29', '03', '2019']
21360  =  ['05', '12', '2017']
21361  =  ['16', '03', '2017']
21385  =  ['16', '03', '2017']
21490  =  ['02', '01', '2019']
21499  =  ['29', '12', '2017']
21739  =  ['22', '12', '2017']
21752  =  ['05', '05', '2017']
21779  =  ['05', '05', '2017']
22014  =  ['02', '01', '2019']
22015  =  ['03', '01', '2019']
22016  =  ['15', '01', '2019']
22019  =  ['11', '01', '2019']
22020  =  ['11', '01', '2019']
22318  =  ['21', '01', '2019']
22330  =  ['21', '01', '2019']
22336  =  ['17', '03', '2017']
22337  =  ['27', '03', '2017']
22338  =  ['03', '08', '2017']
22347  =  ['17', '03', '2017']
22348  =  ['03', '08', '2017']
22363  =  ['21', '12', '2017']
22364  =  ['21', '12', '2017']
22365  =  ['21', '12', '2017']
22366  =  ['21', '12', '2017']
22367  =  ['21', '12', '2017']
22368  =  ['21', '12', '2017']
22369  =  ['21', '12', '2017']
22381  =  ['03', '08', '2017']
22416  =  ['03', '08', '2017']
22464  =  ['03', '08', '2017']
22487  =  ['02', '06', '2017']
22512  =  ['03', '08', '2017']
22553  =  ['03', '08', '2017']
22659  =  ['02', '01', '2019']
22732  =  ['11', '12', '2017']
22734  =  ['22', '12', '2017']
23901  =  ['01', '01', '2019']
23902  =  ['10', '01', '2019']
23903  =  ['07', '01', '2019']
23904  =  ['25', '02', '2019']
23961  =  ['11', '09', '2017']
23964  =  ['26', '10', '2017']
23975  =  ['11', '09', '2017']
23979  =  ['26', '10', '2017']
23989  =  ['11', '09', '2017']
23991  =  ['26', '10', '2017']
24000  =  ['11', '09', '2017']
24003  =  ['26', '10', '2017']
24011  =  ['11', '09', '2017']
24016  =  ['26', '10', '2017']
24024  =  ['11', '09', '2017']
24027  =  ['26', '10', '2017']
24036  =  ['11', '09', '2017']
24039  =  ['26', '10', '2017']
24047  =  ['11', '09', '2017']
24050  =  ['26', '10', '2017']
24063  =  ['26', '10', '2017']
24099  =  ['11', '01', '2019']
24113  =  ['11', '01', '2019']
24114  =  ['16', '01', '2019']
24115  =  ['25', '01', '2019']
24116  =  ['08', '01', '2019']
24117  =  ['09', '01', '2019']
24172  =  ['18', '12', '2017']
24482  =  ['01', '01', '2019']
312

Como não tem como saber o porque destas linhas estarem aqui;
* As de anos anteriores podem ser algum tipo de registro após algum tempo do fato, porém a algumas bem antingas;
* E as que só ocorreram em 2019? é algum tipo de previsão? ou pagamento antecipado?
* É algum erro do sistema?

Vamos dropar essas colunas

In [ ]:
drop_linhas_ano_errado(df18,2018)

'Foram deletadas 312 linhas '

In [ ]:
df18["DATA"] = pd.to_datetime(df18['DATA'],format = '%d/%m/%Y').dt.strftime('%d/%m/%Y')

In [ ]:
df18.isnull().sum()

ANO                     0
MES                     0
SENADOR                 0
TIPO_DESPESA            0
CNPJ_CPF                0
FORNECEDOR              0
DOCUMENTO            1009
DATA                    0
DETALHAMENTO         5544
VALOR_REEMBOLSADO       0
COD_DOCUMENTO           0
dtype: int64

In [ ]:
df18.fillna("Sem informacao",inplace = True)

In [ ]:
df18.dtypes

ANO                    int64
MES                    int64
SENADOR               object
TIPO_DESPESA          object
CNPJ_CPF              object
FORNECEDOR            object
DOCUMENTO             object
DATA                  object
DETALHAMENTO          object
VALOR_REEMBOLSADO    float64
COD_DOCUMENTO          int64
dtype: object

## df2017

In [ ]:
df17 = pd.read_csv(d17,sep=";",header=1, skiprows=0)
df17.head(2)

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
0,2017,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,000034079,18/01/2017,Despesa com pagamento de energia elétrica para...,97,2060286
1,2017,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,001/17,17/01/2017,Despesa com aluguel de imóvel para uso do escr...,6000,2057638

In [ ]:
df17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27023 entries, 0 to 27022
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                27023 non-null  int64
 1   MES                27023 non-null  int64
 2   SENADOR            27023 non-null  object
 3   TIPO_DESPESA       27023 non-null  object
 4   CNPJ_CPF           27023 non-null  object
 5   FORNECEDOR         27023 non-null  object
 6   DOCUMENTO          25704 non-null  object
 7   DATA               27023 non-null  object
 8   DETALHAMENTO       20866 non-null  object
 9   VALOR_REEMBOLSADO  27023 non-null  object
 10  COD_DOCUMENTO      27023 non-null  int64
dtypes: int64(3), object(8)
memory usage: 2.3+ MB

In [ ]:
# alterar valor reembolsado para float
df17['VALOR_REEMBOLSADO']=df17['VALOR_REEMBOLSADO'].str.replace(',','.')
df17['VALOR_REEMBOLSADO']=df17['VALOR_REEMBOLSADO'].astype(float)

In [ ]:
df17[["DATA"]].value_counts()

DATA
01/11/2017    186
01/08/2017    185
02/05/2017    181
01/06/2017    162
01/02/2017    159
             ...
23/02/2018      1
07/11/2011      1
08/02/2016      1
23/05/2016      1
20/03/2016      1
Length: 454, dtype: int64

In [ ]:
drop_linhas_ano_errado(df17, 2017)

'Foram deletadas 246 linhas '

In [ ]:
df17["DATA"] = pd.to_datetime(df17['DATA'],format = '%d/%m/%Y').dt.strftime('%d/%m/%Y')

In [ ]:
df17.duplicated().sum()

0

In [ ]:
df17.isnull().sum()

ANO                     0
MES                     0
SENADOR                 0
TIPO_DESPESA            0
CNPJ_CPF                0
FORNECEDOR              0
DOCUMENTO            1305
DATA                    0
DETALHAMENTO         6091
VALOR_REEMBOLSADO       0
COD_DOCUMENTO           0
dtype: int64

In [ ]:
df17.fillna("Sem informacao",inplace = True)

In [ ]:
df17.dtypes

ANO                    int64
MES                    int64
SENADOR               object
TIPO_DESPESA          object
CNPJ_CPF              object
FORNECEDOR            object
DOCUMENTO             object
DATA                  object
DETALHAMENTO          object
VALOR_REEMBOLSADO    float64
COD_DOCUMENTO          int64
dtype: object

In [ ]:
df17["DATA"]

0        18/01/2017
1        17/01/2017
2        18/01/2017
3        23/01/2017
4        24/01/2017
            ...
27018    18/12/2017
27019    19/12/2017
27020    06/06/2017
27021    14/12/2017
27022    14/12/2017
Name: DATA, Length: 26777, dtype: object

# Salvando os arquivos trabalhados

In [ ]:
df22.to_csv("despesa_ceaps_2022_tratado.csv", index=False)
df21.to_csv("despesa_ceaps_2021_tratado.csv", index=False)
df20.to_csv("despesa_ceaps_2020_tratado.csv", index=False)
df19.to_csv("despesa_ceaps_2019_tratado.csv", index=False)
df18.to_csv("despesa_ceaps_2018_tratado.csv", index=False)
df17.to_csv("despesa_ceaps_2017_tratado.csv", index=False)

#Unindo todos os dados  em um unico dataframe

In [ ]:
df_ceaps = pd.concat([df22,df21,df20,df19,df18,df17], ignore_index=True)

In [ ]:
df_ceaps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106248 entries, 0 to 106247
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ANO                106248 non-null  int64
 1   MES                106248 non-null  int64
 2   SENADOR            106248 non-null  object
 3   TIPO_DESPESA       106248 non-null  object
 4   CNPJ_CPF           106248 non-null  object
 5   FORNECEDOR         106248 non-null  object
 6   DOCUMENTO          105529 non-null  object
 7   DATA               106248 non-null  object
 8   DETALHAMENTO       97777 non-null   object
 9   VALOR_REEMBOLSADO  106248 non-null  float64
 10  COD_DOCUMENTO      106248 non-null  int64
dtypes: float64(1), int64(3), object(7)
memory usage: 8.9+ MB

In [ ]:
df_ceaps["DATA"] = pd.to_datetime(df_ceaps['DATA'],infer_datetime_format= True)

In [ ]:
df_ceaps.to_csv("despesa_ceaps_2017-2022.csv", index=False)